<div class="row">
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: " title form-control  form-control " %>
      <%= f.error_message_on :name %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :venue_hours %>
      <%= f.text_field :venue_hours, class: " title form-control " %>
      <%= f.error_message_on :venue_hours %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :store_code %>
      <%= f.text_field :store_code, class: " title form-control " %>
      <%= f.error_message_on :store_code %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
      <%= f.error_message_on :phone %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :website %>
      <%= f.text_field :website, class: " title form-control " %>
      <%= f.error_message_on :website %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: "form-control" %>
      <%= f.error_message_on :street_address %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :city %>
      <%= f.text_field :city, class: " title form-control " %>
      <%= f.error_message_on :city %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :country %>
      <%= f.text_field :country, class: " title form-control " %>
      <%= f.error_message_on :country %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :state %>
      <%= f.text_field :state, class: " title form-control " %>
      <%= f.error_message_on :state %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :zip %>
      <%= f.text_field :zip, class: " title form-control " %>
      <%= f.error_message_on :zip %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :hidden %>
      <%= f.check_box :hidden, class: " title form-control " %>
      <%= f.error_message_on :hidden %>
  <% end %>
  <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.submit %>
  <% end %>
</div>
